# Таймзона
TZ=Europe/Moscow
GENERIC_TIMEZONE=Europe/Moscow

# PostgreSQL
POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=*******

# n8n
N8N_ENCRYPTION_KEY=*******
N8N_HOST=n8n.cubinez.ru
N8N_PORT=5678
N8N_PROTOCOL=http
N8N_FILESYSTEM_ALLOWED_PATHS=/home/node/.n8n-files:/SadTalker
WEBHOOK_URL=http://n8n.cubinez.ru/

# ===================================
# Настройки SMTP (почтовый сервер)
# ===================================
N8N_EMAIL_MODE=smtp
SMTP_HOST=95.174.94.246
SMTP_PORT=25
SMTP_SECURE=false
SMTP_USER=cubinez85@cubinez.ru
SMTP_PASSWORD=*******
SMTP_SENDER=cubinez85@cubinez.ru
