# Таймзона
TZ=Europe/Moscow
GENERIC_TIMEZONE=Europe/Moscow

# PostgreSQL
POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=******

# n8n
N8N_ENCRYPTION_KEY=*****
N8N_HOST=n8n.cubinez.ru
N8N_PORT=5678
N8N_PROTOCOL=http
N8N_FILESYSTEM_ALLOWED_PATHS=/home/node/.n8n-files:/home/node/.n8n:/SadTalker


# ✅ НОВАЯ ПЕРЕМЕННАЯ (заменяет WEBHOOK_URL)
N8N_WEBHOOK_URL=http://n8n.cubinez.ru

N8N_TRUST_PROXY=true

# ✅ Добавляем явные значения для переменных, которые станут другими по умолчанию
N8N_UNVERIFIED_PACKAGES_ENABLED=true
N8N_RUNNERS_TASK_TIMEOUT=300
N8N_COMPRESSION_NODE_MAX_DECOMPRESSED_SIZE_BYTES=2147483648
N8N_COMPRESSION_NODE_MAX_ZIP_ENTRIES=5000

# ✅ Переключаем с default на filesystem
N8N_DEFAULT_BINARY_DATA_MODE=filesystem

# SMTP
N8N_EMAIL_MODE=smtp
SMTP_HOST=95.174.94.246
SMTP_PORT=25
SMTP_SECURE=false
SMTP_USER=cubinez85@cubinez.ru
SMTP_PASSWORD=******
SMTP_SENDER=cubinez85@cubinez.ru
